<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brandType">
            <h2><span jhiTranslate="carbrandApp.brandType.detail.title">Brand Type</span> {{brandType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carbrandApp.brandType.name">Name</span></dt>
                <dd>
                    <span>{{brandType.name}}</span>
                </dd>
                <dt><span jhiTranslate="carbrandApp.brandType.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="brandType.brand">
                        <a [routerLink]="['/brand', brandType.brand?.id, 'view']">{{brandType.brand?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/brand-type', brandType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
