<div>
    <h2 id="page-heading">
        <span jhiTranslate="carbrandApp.carType.home.title">Car Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-car-type" [routerLink]="['/car-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="carbrandApp.carType.home.createLabel">
            Create a new Car Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="carTypes?.length === 0">
        <span jhiTranslate="carbrandApp.carType.home.notFound">No carTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="carTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="carbrandApp.carType.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="yearName"><span jhiTranslate="carbrandApp.carType.yearName">Year Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hasProduction"><span jhiTranslate="carbrandApp.carType.hasProduction">Has Production</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceStart"><span jhiTranslate="carbrandApp.carType.priceStart">Price Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceEnd"><span jhiTranslate="carbrandApp.carType.priceEnd">Price End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hasPrice"><span jhiTranslate="carbrandApp.carType.hasPrice">Has Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="series.id"><span jhiTranslate="carbrandApp.carType.series">Series</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carType of carTypes ;trackBy: trackId">
                <td><a [routerLink]="['/car-type', carType.id, 'view' ]">{{carType.id}}</a></td>
                <td>{{carType.name}}</td>
                <td>{{carType.yearName}}</td>
                <td>{{carType.hasProduction}}</td>
                <td>{{carType.priceStart}}</td>
                <td>{{carType.priceEnd}}</td>
                <td>{{carType.hasPrice}}</td>
                <td>
                    <div *ngIf="carType.series">
                        <a [routerLink]="['/series', carType.series?.id, 'view' ]" >{{carType.series?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/car-type', carType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car-type', carType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(carType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="carTypes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
