<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-car-type-heading" jhiTranslate="carbrandApp.carType.home.createOrEditLabel">Create or edit a Car Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.yearName" for="field_yearName">Year Name</label>
                    <input type="text" class="form-control" name="yearName" id="field_yearName"
                           formControlName="yearName"/>
                    <div *ngIf="editForm.get('yearName').invalid && (editForm.get('yearName').dirty || editForm.get('yearName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('yearName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.hasProduction" for="field_hasProduction">Has Production</label>
                    <input type="checkbox" class="form-control" name="hasProduction" id="field_hasProduction"
                           formControlName="hasProduction"/>
                    <div *ngIf="editForm.get('hasProduction').invalid && (editForm.get('hasProduction').dirty || editForm.get('hasProduction').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasProduction').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.priceStart" for="field_priceStart">Price Start</label>
                    <input type="number" class="form-control" name="priceStart" id="field_priceStart"
                           formControlName="priceStart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.priceEnd" for="field_priceEnd">Price End</label>
                    <input type="number" class="form-control" name="priceEnd" id="field_priceEnd"
                           formControlName="priceEnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.hasPrice" for="field_hasPrice">Has Price</label>
                    <input type="checkbox" class="form-control" name="hasPrice" id="field_hasPrice"
                           formControlName="hasPrice"/>
                    <div *ngIf="editForm.get('hasPrice').invalid && (editForm.get('hasPrice').dirty || editForm.get('hasPrice').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasPrice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.carType.series" for="field_series">Series</label>
                    <select class="form-control" id="field_series" name="series" formControlName="series">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="seriesOption.id === editForm.get('series').value?.id ? editForm.get('series').value : seriesOption" *ngFor="let seriesOption of series; trackBy: trackSeriesById">{{seriesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
