<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-series-heading" jhiTranslate="carbrandApp.series.home.createOrEditLabel">Create or edit a Series</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.priceStart" for="field_priceStart">Price Start</label>
                    <input type="number" class="form-control" name="priceStart" id="field_priceStart"
                           formControlName="priceStart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.priceEnd" for="field_priceEnd">Price End</label>
                    <input type="number" class="form-control" name="priceEnd" id="field_priceEnd"
                           formControlName="priceEnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.hasPrice" for="field_hasPrice">Has Price</label>
                    <input type="checkbox" class="form-control" name="hasPrice" id="field_hasPrice"
                           formControlName="hasPrice"/>
                    <div *ngIf="editForm.get('hasPrice').invalid && (editForm.get('hasPrice').dirty || editForm.get('hasPrice').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasPrice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.brand" for="field_brand">Brand</label>
                    <select class="form-control" id="field_brand" name="brand" formControlName="brand">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brandOption.id === editForm.get('brand').value?.id ? editForm.get('brand').value : brandOption" *ngFor="let brandOption of brands; trackBy: trackBrandById">{{brandOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carbrandApp.series.brandType" for="field_brandType">Brand Type</label>
                    <select class="form-control" id="field_brandType" name="brandType" formControlName="brandType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brandTypeOption.id === editForm.get('brandType').value?.id ? editForm.get('brandType').value : brandTypeOption" *ngFor="let brandTypeOption of brandtypes; trackBy: trackBrandTypeById">{{brandTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
